@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
/* ---------- common ---------- */
* {
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

html {
  color: #161616;
}
html body {
  margin: 0;
  padding: 0;
}
html h1 {
  font-size: 2.8rem;
  margin: 10px 0;
}
html h2 {
  font-size: 2.5rem;
  margin: 50px 0 30px 0;
  text-align: center;
}
html h3 {
  font-size: 1.8rem;
  margin: 12px 0 5px 8px;
}
html p {
  font-size: medium;
  margin: 10px 0 20px 5px;
}
html img {
  width: 100%;
}
html button {
  background-color: #000000;
  color: #fffffe;
  font-size: 1rem;
  font-weight: 100;
  padding: 10px 60px;
  border: none;
  border-radius: 0.5rem;
  margin: 10px 0 30px 0;
}
html ul {
  list-style: none;
}

/*
@include pc2 {
};
@include tab {
};
@include sp {
};
*/
/* ---------- header ---------- */
.top-header {
  background-color: black;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}
.top-header .top-icon-1 {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}
.top-header .top-icon-2 {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  margin-right: 25px;
}
.top-header .top-header img {
  object-fit: cover;
  height: 20px;
  margin: 0 15px;
}
.top-header #cart-icon {
  font-size: 2rem;
  cursor: pointer;
}

/* --------- page-header ---------*/
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin: 0 50px;
}

/* --------- header_nav ---------*/
.page-header {
  display: flex;
  justify-content: space-between;
  height: 40%;
  /* text-transform: uppercase; */
}

.logo {
  width: 170px;
  height: auto;
  margin-top: 10px;
}

.main-nav {
  display: flex;
  font-size: large;
  list-style: none;
}

.main-nav li {
  margin-left: 25px;
}

.main-nav a {
  text-decoration: none;
  color: black;
  margin: 0 auto;
}

hr {
  margin-bottom: 3%;
}

/*
@include pc2 {
};
@include tab {
};
@include sp {
};
*/
/* ---------- content-1 ---------- */
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% 5%;
}
.main .main-page {
  text-align: left;
  width: 40%;
  word-break: break-word;
  margin-left: 1%;
}
.main .main-img {
  width: 55%;
  height: auto;
  margin-right: 4%;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}

.shop {
  margin-top: 2rem;
}

.shop-content {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 100%;
  margin-top: 1%;
  margin-bottom: 50px;
}

.product-box {
  position: relative;
}

.product-box:hover {
  padding: 10px;
  border: 1.5px solid black;
  transition: 0.2s;
}

.add-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.7rem;
  background-color: black;
  color: white;
  padding: 12px;
  cursor: pointer;
}

.add-cart:hover {
  background: hsl(249deg, 32%, 17%);
}

/*
@include pc2 {
};
@include tab {
};
@include sp {
};
*/
/* ---------- footer ---------- */
@media (max-width: 800px) {
  h1 {
    font-size: 2.5rem;
    max-width: 100%;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
  .main-nav {
    font-size: 1rem;
    margin-top: 10px;
  }
  .main-nav li {
    margin: 0 20px;
  }
  .page-header {
    flex-direction: column;
    align-items: center;
  }
  .main {
    flex-direction: column;
    align-items: center;
  }
  .main-page {
    text-align: center;
    width: 90%;
    margin-top: 5%;
    word-break: break-word;
  }
  .main-img {
    width: 90%;
    height: auto;
  }
  .content img {
    width: 100%;
    height: auto;
    margin-top: 15px;
  }
  /* .grid {
    grid-column: auto;
    grid-row: auto;
  } */
}
@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
    max-width: 100%;
  }
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  .main-nav {
    font-size: 1rem;
    margin-top: 10px;
  }
  .main-nav li {
    margin: 0 20px;
  }
  .page-header {
    flex-direction: column;
    align-items: center;
  }
  .main {
    flex-direction: column;
    align-items: center;
    max-width: 400px;
  }
  .main-page {
    text-align: center;
    width: 90%;
    word-break: break-word;
  }
  .main-img {
    width: 100%;
    height: auto;
  }
  .content img {
    width: 90%;
    height: auto;
    margin-top: 15px;
  }
  .grid {
    grid-column: auto;
    grid-row: auto;
  }
}
.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  min-height: 100px;
  padding: 20px;
  background: white;
  box-shadow: -2px 0 4px hsla(0deg, 4%, 15%, 0.1);
  transition: 0.3s;
}
.cart .cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.cart .cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.cart .cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}
.cart .detail.box {
  display: grid;
  row-gap: 0.5rem;
}
.cart .cart-prodict-title {
  font-size: 1rem;
  text-transform: uppercase;
}
.cart .cart-price {
  font-weight: 500;
}
.cart .cart-quantity {
  border: 1px solid black;
  outline-color: white;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}
.cart .cart-remove {
  font-size: 24px;
  color: black;
  cursor: pointer;
}
.cart .total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid black;
}
.cart .total-title {
  font-size: 1rem;
  font-weight: 600;
}
.cart .total-price {
  margin-left: 0.5rem;
}
.cart .btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.cart .btn-buy:hover {
  background: rgb(239, 52, 52);
}
.cart #close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: black;
  cursor: pointer;
}

.cart.active {
  right: 0;
}

/*# sourceMappingURL=main.css.map */
