@import "mixin";

/* ---------- content ---------- */

.content {
  // width: 25vw;
  // height: auto;
  margin-top: 15px;

  .items {
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 1.5rem;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 100%;
    margin-top: 1%;
    margin-bottom: 50px;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 20px 0;
    position: relative;
  }
  .item:hover {
    padding: 10px;
    border: 1.5px solid black;
    transition: 0.2s;
  }

  .bx {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.7rem;
    background-color: black;
    color: white;
    padding:12px;
    cursor: pointer;
  }
  .bx:hover {
    background: hsl(249, 32%, 17%);
  }

  p {
    font-size: 1.2rem;
    margin: 8px 0 10px 8px;
  }
}

/* .pick-item {
  width: 30%;
  height: auto;
  margin-top: 15px;
} */

/* .pick-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
} */