@import "mixin";

/* ---------- content-1 ---------- */
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% 5%
}

.main-page {
  text-align: left;
  width: 40%;
  word-break:break-word;
  margin-left: 1%;
}
.main-img {
  width: 55%;
  height: auto;
  margin-right: 4%;
}