@import "mixin";

/* ---------- footer ---------- */

@media (max-width: 800px) {
  h1 {
    font-size: 2.5rem;
    max-width: 100%;
  }
  h2 {
    font-size:2.0rem;
  }
  p {
    font-size: 1.5rem;
  }
  .main-nav {
    font-size: 1rem;
    margin-top: 10px;
  }
  .main-nav li {
    margin: 0 20px;
  }
  .page-header {
    flex-direction: column;
    align-items: center;
  }
  .main {
    flex-direction: column;
    align-items: center;
  }
  .main-page {
    text-align: center;
    width: 90%;
    margin-top: 5%;
    word-break:break-word;
  }
  .main-img {
    width: 90%;
    height: auto;
  }
  .content img {
    width: 100%;
    height: auto;
    margin-top: 15px;
  }
  /* .grid {
    grid-column: auto;
    grid-row: auto;
  } */
}


@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
    max-width: 100%;
  }
  h2 {
    font-size:1rem;
  }
  p {
    font-size:1rem;
  }
  .main-nav {
    font-size: 1rem;
    margin-top: 10px;
  }
  .main-nav li {
    margin: 0 20px;
  }
  .page-header {
    flex-direction: column;
    align-items: center;
  }
  .main {
    flex-direction: column;
    align-items: center;
    max-width: 400px;
  }
  .main-page {
    text-align: center;
    width: 90%;
    word-break:break-word;
  }
  .main-img {
    width: 100%;
    height: auto;
  }
  .content img {
    width: 90%;
    height: auto;
    margin-top: 15px;
  }
  .grid {
    grid-column: auto;
    grid-row: auto;
  }
}